body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.earphonesAttr {
  background-color: aquamarine;
  width: 120px;
 }

 .earphonesAttr {
  background-color: rgb(233, 9, 13);
  width: 150px;
  padding: 10px 10px 10px 10px;
  margin: 5px 10px;
  display: inline-block;
  border: 2px solid rgba(11, 10, 10, 0.975);
  }